* {
	font-family: 'Lato', sans-serif;
}

html {
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: grey;
	margin: 0; 
	padding: 0
}

h3 {
	font-family: 'Lato', sans-serif;
}

.header {
	background-color: white;
}

#logo-font {
	color: #a5fb97;
	padding: 18px;
}

.main-logo {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	padding: 18px;
}

#flexer {
	display: flex;
}

.option-select {
	color: #a5fb97;
}

.footer {
	background-color: #333;
}

.footer-red {
	color: red;
}
#google-section {
	width:100%;
}

#map-canvas {
	width: 100%;
	height:100%;
}

#map-container {
	width: 100%;
	height:75%;
}

.foot-text {
	color: white;
}

.coffee {
	color: #7b564b;
}

#right-panel {
	font-family: 'Lato', sans-serif;
	position: absolute;
	right: 10px;
	top: 60%;
	margin-top: -175px;
	height: 300px;
	width: 200px;
	padding: 5px;
	z-index: 5;
	border: 1px solid #999;
	background: #fff;
	overflow: auto;
}
