* {
	font-family: 'Lato', sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: grey;
	margin: 0; 
	padding: 0
}

h3 {
	font-family: 'Lato', sans-serif;
}

.header {
	background-color: white;
}

#logo-font {
	color: #a5fb97;
	padding: 18px;
}

.main-logo {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	padding: 18px;
}

#flexer {
	display: flex;
}

.app-container {
	margin: 50px;
	background-color: white;
}

.option-select {
	color: #a5fb97;
}

.footer {
	background-color: #333;
}

.footer-red {
	color: red;
}

#map-canvas {
	height: 400px;
	width: 600px;
	margin-top: 10px;
}

.foot-text {
	color: white;
}

@media screen and (max-width: 878px){
	#map-canvas {
		height: 300px;
		width: 400px;
	}

}