@import 'normalize';
@import 'foundation/settings';
@import 'foundation/functions';
@import 'foundation/components/grid';
@import 'foundation/components/panels';
@import 'foundation/components/top-bar';


//colors
$gray: grey;
$white: white;
$color_mint_green_approx: #a5fb97;
$color_mine_shaft_approx: #333;
$red: red;
$color_roman_coffee_approx: #7b564b;

//fonts
$font_0: Lato;
$font_1: sans-serif;

html {
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: $gray;
	margin: 0;
	padding: 0;
	font-family: $font_0, $font_1;
}

h3 {
	font-family: $font_0, $font_1;
}

.header {
	background-color: $white;
}

#logo-font {
	color: $color_mint_green_approx;
	padding: 18px;
}

.main-logo {
	font-family: $font_0, $font_1;
	font-size: 36px;
	padding: 18px;
}

#flexer {
	display: flex;
}

.option-select {
	color: $color_mint_green_approx;
}

.footer {
	background-color: $color_mine_shaft_approx;
}

.footer-red {
	color: $red;
}

#google-section {
	width: 100%;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

#map-container {
	width: 100%;
	height: 85%;
}

.foot-text {
	color: $white;
}

.coffee {
	color: $color_roman_coffee_approx;
}

.fs {
	width: 200px;
	height: 40px;
}

#ven-contain {
	width: 200px;
	height: 118px;
	overflow: scroll;
}